/**
 * Use with caution. This will attempt to replace most Discord icons.
 * Overrides other image-based styles.
 */

:root {
  --global-icon-url: url('https://i.imgur.com/6f5eJ3h.png'); /* Your desired image */
  --global-icon-size: cover;
  --global-icon-position: center;
}

/* Replace all background images in Discord */
[style*="background-image"],
[class*="icon"],
[class*="avatar"],
[class*="logo"],
[class*="banner"] {
  background-image: var(--global-icon-url) !important;
  background-size: var(--global-icon-size) !important;
  background-position: var(--global-icon-position) !important;
}

/* Target common icon classes (will need to be expanded as you find more) */
svg, /* This is aggressive and will affect all SVG icons */
[role="img"],
img {
  visibility: hidden !important; /* Hide original element */
  position: relative !important;
}

/* Insert new background image */
svg::before,
[role="img"]::before,
img::before {
  content: '';
  visibility: visible !important;
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: var(--global-icon-url) !important;
  background-size: var(--global-icon-size) !important;
  background-position: var(--global-icon-position) !important;
  z-index: 9999;
}
